body
{
	background-color:#555;
	color:#fdfdfd;
	margin-top:0px;
	font-size:20px;
}

#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0;
}

p.main::first-letter
{
	font-size:150%;
}

header
{
	background-color:#111;
	text-align:center;
	font-size:1.25em;
	padding:10px;
	margin-top:0px;
}

nav
{
	background-color:#333;
	text-align:center;
	font-size:1.2em;
	margin-bottom:0;
	text-transform:uppercase;
}

ol
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0.8em;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li 
{
	width: 200px;
	height: 40px;
	border-right: 1px dashed #000;
	float:left;
}

ol > li:first-child
{
	border-left: 1px dashed #000;
}

ol > li:hover
{
	background-color: #292929;
}

ol > li:hover > a 
{
	color: #fff;
}

ol > li > ul 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li > ul > li
{
	background-color: #333;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #000;
}

ol > li > ul > li:hover
{
	background-color: #292929;
}

ol >li:hover > ul
{
	display: block;
}

#navi
{
	display:none;
}

a
{
	cursor: pointer;
	text-decoration: none;
	color:#fdfdfd;
}

a.ods
{
	cursor: pointer;
	text-decoration: underline;
}

a.ods1
{
	cursor: pointer;
	text-decoration: none;
}

main
{
	background-color:#676767;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:35px;
	padding-right:35px;
	text-align:justify;
}

.head
{
	font-size:1.6em;
	padding-top:20px;
	padding-bottom:6px;
	border-bottom: 2px solid #000;
}

h3
{
	font-size:1.6em;
	padding:0;
}

.field
{
	padding-left:5px;
	padding-top:20px;
}

.quest
{
	padding-bottom:10px;
}

.odp
{
	padding-left:10px;
}

.col
{
	display: inline-block;
}

.text
{
	margin-left:10px;
	float:left;
}

.sub
{
	float:left;
	margin-right:15px;
	margin-left:5px;
}

input[type=submit]
{
	background-color: #36b03c;
	color: white;
}

#field2
{
	padding-top:5px;
}

#head1
{
	font-size:1.6em;
	text-align:center;
	padding-top:30px;
	padding-bottom:6px;
}

#head2
{
	font-size:1.6em;
	text-align:center;
	padding-top:50px;
	padding-bottom:6px;
}

.image
{
	width:460px;
	margin-top:20px;
	margin-bottom:5px;
	margin-left:240px;
}

img.animation
{
	height:200px; 
	width:460px;
}

img.git{width:170px;}

img.git:hover
{
	opacity: 0.9;
	transform:scale(0.95);
	cursor:pointer;
}

.guitarist
{
	padding:31px 31px 0 31px;
	float:left;
	width:170px;
}

.opis
{
	text-align:center;
	padding-top:10px;
}

table, tr, td
{
	border:1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-bottom:30px;
	margin-top:10px;
	font-size:0.95em;
	padding:10px;
}


footer
{
	background-color:#111;
	text-align:center;
	font-size:1em;
	margin-bottom:0;
}

#foot
{
	width:100%;
	height:25px;
	padding-top:7px;
	padding-bottom:7px;
}

#foot1
{
	width:98.6%;
	height:25px;
	background-color:#333;
	padding:0.7%;
	margin-left:auto;
	margin-right:auto;
}

#restext
{
	display:none;
}

.settings1
{
	padding-top:1px;
	padding-right:7px;
	padding-left:10px;
	font-size:20px;
	border-left: 2px solid white;
}

.settings2
{
	padding-top:1px;
	padding-right:7px;
	padding-left:10px;
	font-size:20px;
	border-left: 2px solid white;
}

#setting
{
	padding-top:1px;
	padding-right:7px;
	padding-left:10px;
	font-size:20px;
	font-weight:bold;
}

#size1
{
	font-size:20px;
	float:left;
	padding-right:5px;
	padding-top:1px;
	cursor:pointer;
}

#size2
{
	font-size:18px;
	float:left;
	padding-right:5px;
	padding-top:3px;
	cursor:pointer;
}

#size3
{
	font-size:16px;
	float:left;
	padding-right:5px;
	padding-top:5px;
	cursor:pointer;
}

.change
{
	padding-left:5px;
	padding-right:5px;
	float:left;
}

.change1
{
	padding-left:5px;
	padding-right:5px;
	float:left;
}

button
{
	height:20px;
	margin-left:5px;
	margin-right:5px;
	cursor:pointer;
}

.colors
{
	width:20px;
	height:20px;
	border:1px solid white;
	float:left;
	margin-top:2px;
	margin-right:5px;
	cursor:pointer;
}

.responsive
{
	clear:both;
	display:none;
}

.responsive2
{
	clear:both;
	display:none;
}

@media (max-width:1050px) and (min-width:900px)
{ 
	#container{width:900px;margin-left:auto;margin-right:auto;}
	ol > li {width: 210px;}
	#setting{display:none;}
	.settings1{border:none;}
}

@media (max-width:900px) and (min-width:750px)
{ 
	#container{width:750px;margin-left:auto;margin-right:auto;font-size:19px;}
	ol > li {width: 170px;}
	.responsive{display:block;}
	#foot1{height:50px;}
	#setting{border:none;margin-left:150px;}
	.settings2{border:none;margin-left:100px;}
}

@media (max-width:750px) and (min-width:600px)
{ 
	#container{width:600px;margin-left:auto;margin-right:auto;font-size:18px;}
	ol > li {width: 145px;font-size:15px;}
	.responsive{display:block;}
	#foot1{height:50px;}
	#setting{border:none;margin-left:90px;}
	.settings2{border:none;margin-left:40px;}
}

@media (max-width:600px) and (min-width:450px)
{ 
	#container{width:450px;margin-left:auto;margin-right:auto;font-size:17px;}
	ol {display:none;}
	#navi{display:block;}
	.nvg{float:left;width:223px;font-size:18px;padding-top:10px;padding-bottom:10px;border-right: 1px dashed #000;}
	.nvg:hover{background-color: #292929;}
	.nvg:first-child{border-left: 1px dashed #000;border-bottom: 1px dashed #000;}
	#setting{display:none;}
	#foot1{height:50px;}
	.settings1{border:none;margin-left:70px;}
	.settings2{border:none;margin-left:70px;}
	.change1{display:none;}
}

@media (max-width:450px) and (min-width:300px)
{ 
	#container{width:300px;margin-left:auto;margin-right:auto;font-size:16px;}
	ol {display:none;}
	#navi{display:block;}
	#text{display:none;}
	#restext{display:block;}
	#foot1{display:none;}
	.nvg{float:left;width:298px;font-size:18px;padding-top:10px;padding-bottom:10px;border-right: 1px dashed #000;}
	.nvg:hover{background-color: #292929;}
	.nvg:first-child{border-left: 1px dashed #000;border-bottom: 1px dashed #000;}
	table{display:none;}
	header{font-size:18px;}
	.head{font-size:26px;}
}

@media (max-width:300px) 
{ 
	#container{width:200px;margin-left:auto;margin-right:auto;font-size:10px;}
	ol {display:none;}
	#navi{display:block;}
	#text{display:none;}
	#restext{display:block;}
	.nvg{float:left;width:198px;font-size:18px;padding-top:10px;padding-bottom:10px;border-right: 1px dashed #000;}
	.nvg:hover{background-color: #292929;}
	.nvg:first-child{border-left: 1px dashed #000;border-bottom: 1px dashed #000;}
	table{display:none;}
	header{font-size:18px;}
	footer{height:50px;font-size:15px;}
	.head{font-size:26px;}
	#foot1{display:none;}
}